<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css")
        link(rel="stylesheet", href="/dist/style.css")
        title Todolist
    body
        #app
            .todo
                .add-task
                    .add-task__today 2018-10-11
                    el-button.add-task__btn
                        i.el-icon-plus Add Task            
                .list
                    .item
                        .item__content
                            i.el-icon-circle-check-outline.i-24
                            .item__title Mission 1
                            .item__content--modify
                                i.el-icon-star-off.i-24
                                i.el-icon-edit.i-24
                        .item__info
                            i.el-icon-date.i-24
                            span 10/11










        script(src="https://cdn.jsdelivr.net/npm/vue")
        script(src="https://unpkg.com/element-ui/lib/index.js")
        script(src="/dist/app.bundle.js")
            


