<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css")
        link(rel="stylesheet", href="/dist/style.css")
        title Todolist
    body
        #app
            .todo
                .add-task#addTask
                    .add-task__today {{nowDate | formDate}}
                    el-button.add-task__btn(v-on:click='openFrom')
                        i.el-icon-plus Add Task  
                .add-form#addForm.dis-no
                    el-input(v-model='input', placeholder='Type Something Here…')
                    .add-form__cotent
                        .add-form__input
                            i.el-icon-date.p-l-10.i-24
                            el-date-picker(v-model='value1', type='datetime', placeholder='Choose time')  
                        .add-form__input
                            i.el-icon-document.p-l-10.i-24
                            label.add-form__input-label(for="uploadFile") +
                                input#uploadFile.add-form__input-label--upload(type='file')
                        .add-form__input
                            i.el-icon-tickets.p-l-10.i-24
                            el-input(type='textarea', :rows='2', placeholder='Type your memo here…', v-model='textarea')
                        .add-form__input
                            el-button-group.add-form__input-btnGroup
                                el-button.add-form__input-btn(icon='el-icon-close',v-on:click='btnCancel' ) Cancel
                                el-button.add-form__input-btn(type='primary', icon='el-icon-check', disabled) Add Task
                .list
                    .item
                        .item__content
                            i.el-icon-circle-check-outline.i-24.info
                            .item__title Mission 1
                            .item__content--modify
                                i.el-icon-star-off.i-24.info.p-l-10
                                i.el-icon-edit.i-24.info(v-on:click='taskModify')
                        .item__info
                            i.el-icon-date.i-24.info
                            span.info 10/11
                        .add-form.dis-no
                            el-input(v-model='input', placeholder='Type Something Here…')
                            .add-form__cotent
                                .add-form__input
                                    i.el-icon-date.p-l-10.i-24
                                    el-date-picker(v-model='value1', type='datetime', placeholder='Choose time')  
                                .add-form__input
                                    i.el-icon-document.p-l-10.i-24
                                    label.add-form__input-label(for="uploadFile") +
                                        input#uploadFile.add-form__input-label--upload(type='file')
                                .add-form__input
                                    i.el-icon-tickets.p-l-10.i-24
                                    el-input(type='textarea', :rows='2', placeholder='Type your memo here…', v-model='textarea')
                                .add-form__input
                                    el-button-group.add-form__input-btnGroup
                                        el-button.add-form__input-btn(icon='el-icon-close',v-on:click='btnCancel' ) Cancel
                                        el-button.add-form__input-btn(type='primary', icon='el-icon-check', disabled) Add Task
                    .item
                        .item__content
                            i.el-icon-circle-check-outline.i-24.info
                            .item__title Mission 2
                            .item__content--modify
                                i.el-icon-star-off.i-24.info.p-l-10
                                i.el-icon-edit.i-24.info
                .nav
                    el-tabs.nav__tabs(:tab-position='tabPosition')
                        el-tab-pane(label='All')
                        el-tab-pane(label='In progress')
                        el-tab-pane(label='Finish')











        script(src="https://cdn.jsdelivr.net/npm/vue")
        script(src="https://unpkg.com/element-ui/lib/index.js")
        script(src="/dist/app.bundle.js")
            


