<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css")
        link(rel="stylesheet", href="/dist/style.css")
        title Todolist
    body
        #app
            .todo
                .add-task(v-if='formShow')
                    .add-task__today {{isDate(nowDate)}}
                    el-button.add-task__btn(@click='openFrom')
                        i.el-icon-plus Add Task  
                .add-form(v-else)
                    el-input(v-model='addLists.title', placeholder='Type Something Here…')
                    h5 {{addLists.title}}
                    .add-form__cotent
                        .add-form__input
                            i.el-icon-date.p-l-10.i-24
                            el-date-picker(v-model='addLists.date', type='date', placeholder='Choose time')  
                        .add-form__input
                            el-button-group.add-form__input-btnGroup
                                el-button.add-form__input-btn(icon='el-icon-close',@click='btnCancel' ) Cancel
                                el-button.add-form__input-btn(type='primary', icon='el-icon-check', :disabled='btnShow', @click='btnSure') Add Task
                .list(v-for='(todo, index) in filterLists')
                    .item(v-if='formShow2')
                        .item__content
                            i.el-icon-circle-check-outline.i-24.info
                            .item__title {{todo.title}}
                            .item__content--modify
                                i.el-icon-star-off.i-24.info.p-l-10
                                i.el-icon-edit.i-24.info(@click='todoModify')
                        .item__info
                            i.el-icon-date.i-24.info
                            span.info {{isDate(todo.date)}}
                    .add-form(v-else)
                        el-input(v-model='todoLists.title', placeholder='Type Something Here…')
                        .add-form__cotent
                            .add-form__input
                                i.el-icon-date.p-l-10.i-24
                                el-date-picker(v-model='todoLists.date', type='date', placeholder='Choose time')  
                            .add-form__input
                                i.el-icon-document.p-l-10.i-24
                                label.add-form__input-label(for="uploadFile") +
                                    input#uploadFile.add-form__input-label--upload(type='file')
                            .add-form__input
                                el-button-group.add-form__input-btnGroup
                                    el-button.add-form__input-btn(icon='el-icon-close',@click='todoCancel' ) Cancel
                                    el-button.add-form__input-btn(type='primary', icon='el-icon-check', disabled) Add Task
                .nav
                    el-tabs.nav__tabs(:tab-position='tabPosition')
                        el-tab-pane(label='All')
                        el-tab-pane(label='In progress')
                        el-tab-pane(label='Finish')


        script(src="https://cdn.jsdelivr.net/npm/vue")
        script(src="https://unpkg.com/element-ui/lib/index.js")
        script(src="/dist/app.bundle.js")
            


