footer.footer
    .footer-subscription
        .footer-subscription__container
            .footer__container-group
                .footer__container-group-img
                .footer__container-group-title 訂閱你我的甜蜜郵件
            .footer__container-mail
                i.relative-icon.fas.fa-envelope
                input(type="text", name="")
                button
                    i.fas.fa-arrow-right                  
    .footer-info
        .footer-info__container
            .footer__container-info
                .footer__info-company
                    .footer__info-company-title
                    ul.footer__info-company-address
                        li 07-1234-5678
                        li sweetaste@email.com
                        li 800 高雄市新興區幸福路 520 號
                .footer__info-img.d-md-none
            .footer__container-social
                .footer__social-icon
                    .footer__social-icon-fb
                    .footer__social-icon-line
                .footer__social-remark © 2018 Sweetaste* All Rights Reserved