#app
    header.header
        .header-container
            ul.display-none.d-mb-block.mb-header.header-container__navbar
                li
                    i.fas.fa-bars.color-target 
            .header-container__logo.d-md-none
            .header-container__logo-mb.display-none.d-mb-block
            ul.header-container__navbar.d-md-none.mg-l-auto
                li  
                    a(href="/dist/index.html") 首頁
                li
                    a(href="/dist/product.html") 甜點
                li
                    a(href="/dist/login.html") 登入      
            a.mb-pr-30(href="/dist/cart.html")
                i.fas.fa-shopping-cart