meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
link(rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="stylesheet",type="text/css" href="/dist/style.css")
title Sweetaste
meta(property='og:title', content='Sweetaste')
meta(property='og:description', content='六角學院的Sweetaste')
meta(property='og:site_name', content='Sweetaste')
meta(property='og:locale', content='zh_TW')
