@media (max-width: 767px)
    .d-md-none
        display: none !important
    .d-mb-block
        display: block !important
    .mb-header
        padding-left: 32px 
        padding-right: 32px 
    .flex-column
        flex-direction: column
    .section-container__group
        max-width: 100% !important
    .story-container
        max-height: 640px
        &__content
            width: 100%
            writing-mode: initial
            padding-top: 30px
            padding-bottom: 30px
            p
                margin: 0
    .story-container__img
        width: 100% !important
        height: 640px
        transform: initial
 
        

