%clearfix
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both
  zoom: 1

%story_text
  -webkit-writing-mode: vertical-rl
  writing-mode: vertical-rl
  line-height: 2.5
  height: 450px
  padding-top: 60px
  padding-bottom: 60px

%img_filter
  -webkit-filter: blur(4px)
  -moz-filter: blur(4px)
  -ms-filter: blur(4px)    
  filter: blur(4px)
  
%checkout
  padding: 30px 40px
  padding-bottom: 0
  background-color: $target_color

/// margin & padding ///
.p-b-8
  padding-bottom: 8px
.p-b-16
  padding-bottom: 16px
.p-b-30
  padding-bottom: 30px
.m-b-8
  margin-bottom: 8px
.mg-20
  margin-left: 20px
  margin-right: 20px
.mg-b-16
  margin-bottom: 16px
.mg-b-20
  margin-bottom: 20px
.mg-b-30
  margin-bottom: 30px
.mg-b-80
  margin-bottom: 80px
.mg-l-auto
  margin-left: auto
    
/// font ///

.f-20
  font-size: 20px
  width: 100%
.f-bold
  font-weight: bold
.w-100
  width: 100%

/// color ///
.color-target
  color: $target_color
.color-second
  color: $second_color
.color-font
  color: $font_color
.color-primary
  color: $primary_color !important

/// display /// 
.block
  display: block
.relative-icon
  font-size: 24px
  color: $target_color
  position: absolute
  left: 20px
  top: 50%
  transform: translateY(-50%)       
.border-b
  margin-top: 20px
  border-bottom: 1px solid $second_color
  height: 130px
  display: flex
  justify-content: space-between
  align-items: center
.flex-justify-between
  display: flex
  justify-content: space-between
  flex-wrap: wrap
.flex-justify-center
  display: flex
  justify-content: center
  flex-wrap: wrap
/// button ///
.btn
  height: 56px
  width: 50%
  font-size: 20px
  border: none
  color: $second_color
  background-color: transparent
.btn-next
  height: 65px
  border: none
  width: 100%
  font-weight: bold
  font-size: 24px
  background-color: $spec_color
  color: $target_color
.btn-a
  color: $target_color
  display: block
  text-align: center
  padding: 16px
.btn-selected
  height: 56px
  width: 50%
  color: $target_color
  font-size: 20px
  border: none
  background-color: $second_color
.input
  width: 100%
  height: 56px
  color: $font_color
  background-color: $second_color
  border: none
  padding: 17px 
  display: block
.select
  display: block
  height: 56px
  width: calc(100% / 2 - 4px)
  border: none
  padding: 17px
  color: $font_color
  background-color: $second_color 
.display-none
  display: none !important

  