%clearfix
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both
  zoom: 1

%story_text
  -webkit-writing-mode: vertical-rl
  writing-mode: vertical-rl
  color: $font_color
  letter-spacing: 5px
  line-height: 1.5

%img_filter
  -webkit-filter: blur(4px)
  -moz-filter: blur(4px)
  -ms-filter: blur(4px)    
  filter: blur(4px)
  
