%clearfix
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both
  zoom: 1

%story_text
  -webkit-writing-mode: vertical-rl
  writing-mode: vertical-rl
  line-height: 2.5
  height: 450px
  padding-top: 60px
  padding-bottom: 60px

%img_filter
  -webkit-filter: blur(4px)
  -moz-filter: blur(4px)
  -ms-filter: blur(4px)    
  filter: blur(4px)
  
%container
  margin-top: 30px
  display: flex
  justify-content: center