section
    @extend %container
    .section-container
        width: $desktop_width
        &__background
            +bg-url('https://bit.ly/2OhbMHr',100%,500px)
        &__group
            display: flex
            justify-content: center
            transform: translateY(-30%)
            .section__group--yellow
                width: 260px
                height: 260px
                cursor: pointer
                position: relative
                overflow: hidden
                border-right: 1px solid $primary_color 
                .section__group-img
                    +bg-url('https://bit.ly/2R5tqwD',100%,100%)
                    @extend %img_filter
                .section__group-bg
                    +bg-color-center($spec_color)
                .section__group-word
                    +word-center($target_color)
            .section__group-top
                width: 260px
                height: 260px
                cursor: pointer
                position: relative
                overflow: hidden
                border-right: 1px solid $primary_color
                .section__group-img
                    +bg-url('https://bit.ly/2Dwoxd7',100%,100%)
                    @extend %img_filter
                .section__group-bg
                    +bg-color-center($target_color)
                .section__group-word
                    +word-center($primary_color)
            .section__group-new
                width: 260px
                height: 260px
                cursor: pointer
                position: relative
                overflow: hidden
                .section__group-img
                    +bg-url('https://bit.ly/2OUteif',100%,100%)
                    @extend %img_filter
                .section__group-bg
                    +bg-color-center($target_color)
                .section__group-word
                    +word-center($primary_color)
.story
    background-color: $second_color
    height: 420px
    margin-bottom: 75px
    &-container
        display: flex
        justify-content: space-between
        width: $desktop_width
        &__title
            +bg('lg-why-choice.svg',90px,310px)
            order: 3
            transform: translateY(-7%)
        &__content
            @extend %story_text
            order: 2
            p
                margin-bottom: 20px
                margin-left: 20px
                color: $font_color
        &__img
            +bg-url('https://bit.ly/2xPn7Eq',460px,460px)
            order: 1
            transform: translateY(-5%)
        .opposite-title
            +bg('lg-why-eat.svg',90px,310px)
            order: 2
        .opposite-content
            order: 1
        .opposite-img
            +bg-url('https://bit.ly/2zzAQS4',460px,460px)
            order: 3
            
.svg__center
    +bg('lg-want-eat.svg',90px,330px)

.card-container
    max-width: $desktop_width
    display: flex
    justify-content: space-between  
    flex-wrap: wrap
    &__product
        width: 300px
        max-height: 440px
        .card__product-img
            +bg-url('https://bit.ly/2zBjQuq',100%,315px)
            position: relative
            .card__product-featured
                background-color: $target_color
                color: $primary_color
                padding: 10px
                text-align: center
                letter-spacing: 3px
                -webkit-writing-mode: vertical-lr
                writing-mode: vertical-lr
                position: absolute
                left: 5%
                top: 0
            i
                position: absolute
                color: $target_color
                top: 5%
                right: 5%
                font-size: 20px
                cursor: pointer
        .card__product-info
            display: flex
            text-align: center
            border: 1px $second_color solid
            font-size: 20px
            .card__info-name 
                padding: 14px
                flex-grow: 1
                border-right: 1px solid $second_color 
                color: $target_color
            .card__info-price
                padding: 14px
                font-weight: bold
                color: $target_color
        button
            width: 100%
            background-color: $second_color
            color: $target_color
            font-size: 24px
            text-align: center
            padding: 16px
            border: none
            font-weight: bold
                
