section
    margin-top: 30px
    display: flex
    justify-content: center
    .section__container
        width: $desktop_width
        &--background
            +bg-url('https://bit.ly/2OhbMHr',100%,500px)
        &--group
            display: flex
            justify-content: center
            transform: translateY(-30%)
            overflow: hidden
            .group_today
                width: 260px
                height: 260px
                cursor: pointer
                position: relative
                &-img
                    +bg-url('https://bit.ly/2R5tqwD',100%,100%)
                    @extend %img_filter
                &-bg
                    +bg-color-center($spec_color)
                &-word
                    +word-center($target_color)
            .group_top
                width: 260px
                height: 260px
                cursor: pointer
                position: relative
                &-img
                    +bg-url('https://bit.ly/2Dwoxd7',100%,100%)
                    @extend %img_filter
                &-bg
                    +bg-color-center($target_color)
                &-word
                    +word-center($primary_color)
            .group_new
                width: 260px
                height: 260px
                cursor: pointer
                position: relative
                &-img
                    +bg-url('https://bit.ly/2OUteif',100%,100%)
                    @extend %img_filter
                &-bg
                    +bg-color-center($target_color)
                &-word
                    +word-center($primary_color)

