*
    // border: solid 1px black !important

html,body
    background-color: $primary_color
    max-width: 100%
    width: 100vw

.header
    max-width: 940px
    margin: 0 auto
    &-container
        display: flex
        justify-content: space-between
        &__logo
            +bg('logo-all-dark.svg',219px,100px)
        &__navbar         
            display: flex
            align-self: center
            justify-content: space-between
            a
                padding-left: 48px
                padding-right: 48px
        a
            color: $target_color
            font-weight: bold
            align-self: center
            display: block
            padding-left: 79px
.footer
    max-height: 460px
    margin-top: 60px
    .footer-subscription       
        background-color: $target_color
        padding-top: 30px
        height: 116px
        &__container
            margin: 0 auto
            display: flex
            justify-content: space-between
            max-width: 900px
            .footer__container-group
                display: flex
                align-items: center
                width: 280px
                &-img
                    +bg('logo-light.svg',40px,40px)
                    margin-right: 20px
                &-title
                    text-align: center
                    font-size: 24px
                    color: $second_color
            .footer__container-mail
                width: 380px
                height: 60px
                display: flex
                position: relative   
                input
                    width: calc(100% - 64px - 45px)
                    padding-left: 45px
                    border: none
                button
                    width: calc(100% - 320px)
                    background-color: $spec_color
                    border: none
    .footer-info
        background-color: $second_color
        padding: 40px
        &__container
            margin: 0 auto
            max-width: 900px
            .footer__container-info
                width: 100%
                display: flex
                justify-content: space-between
                .footer__info-company
                    &-title
                        +bg('logotype-lg-dark.svg',170px,27px)
                    &-address
                        margin-top: 115px
                        li
                            color: $target_color
                            padding-bottom: 5px
                .footer__info-img
                    +bg('sm-today-good-eat.svg',60px,220px)
            .footer__container-social
                display: flex
                width: 100%
                margin-top: 30px
                justify-content: space-between
                .footer__social-icon
                    display: flex
                    &-fb
                        margin-right: 8px
                        +bg('ic-facebook.svg',32px,32px)
                    &-line
                        +bg('ic-line@.svg',32px,32px)
                .footer__social-remark
                    align-self: center
                    color: $target_color
