*
    // border: solid 1px black !important

html,body
    background-color: $primary_color
    max-width: 100%
    width: 100vw

header
    margin-top: 30px
    display: flex
    justify-content: center
    .header__container
        width: $desktop_width
        display: flex
        justify-content: space-between
        &--logo
            +bg('logo-all-dark.svg',300px,55px)
        &--navbar
            width: 370px
            display: flex
            align-self: center
            justify-content: space-between
            a
                color: $target_color
                font-weight: bold


    