extends layout.pug
block content
            section.final
                .final-container.mg-0-auto
                    .final-container__background
                        .final-container__background-group.flex-justify-between
                            ul.progressbar.flex-justify-between
                                li 
                                    i.fas.fa-check-circle                                   
                                li
                                    i.fas.fa-check-circle   
                                li
                                    i.fas.fa-check-circle 
                            .pay-success 
                            button.btn-next
                                a.btn-a(href="/dist/index.html") 繼續逛逛