<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
        link(rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css")
        link(rel="stylesheet",type="text/css" href="/dist/style.css")
        title Sweetaste
    body
        #app
            header
                .header__container
                    .header__container--logo
                    ul.header__container--navbar
                        li  
                            a(href="/dist/index.html") 首頁
                        li
                            a(href="/dist/product.html") 甜點
                        li
                            a(href="") 登入
                        li      
                            a(href="")
                                i.fas.fa-shopping-cart  
            section
                .section__container
                    .section__container--background
                    ul.section__container--group
                        li.group-today
                            .group-today-img
                            .group-today-bg
                            .group-today-word 本日精選
                        li.group-top
                            .group-top-img
                            .group-top-bg
                            .group-top-word 人氣推薦
                        li.group-new
                            .group-new-img
                            .group-new-bg
                            .group-new-word 新品上市
            section.story
                .section__story
                    .section__story--title
                    .section__story--content
                        p 青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                        p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                    .section__story--img
            section.story
                .section__story
                    .section__story--title.opposite-title
                    .section__story--content.opposite-content
                        p 青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                        p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                    .section__story--img.opposite-img
            section
                .svg__center
            section
                ul.card__container
                    li.card__container--product
                        .product-img
                            .product-today-featured 本日精選
                            i.far.fa-heart
                        .product-info
                            .product-info-name 焦糖馬卡龍
                            .product-info-price NT$ 450
                        button 加入購物車
                    li.card__container--product
                        .product-img
                            .product-today-featured 本日精選
                            i.far.fa-heart
                        .product-info
                            .product-info-name 焦糖馬卡龍
                            .product-info-price NT$ 450
                        button 加入購物車
                    li.card__container--product
                        .product-img
                            .product-today-featured 本日精選
                            i.far.fa-heart
                        .product-info
                            .product-info-name 焦糖馬卡龍
                            .product-info-price NT$ 450
                        button 加入購物車
            footer
                .footer__subscription
                    .footer__subscription--container
                        .logo-group
                            .group-img
                            .group-title 訂閱你我的甜蜜郵件
                        .send-mail
                            i.mail-icon.fas.fa-envelope
                            input(type="text", name="")
                            button
                                i.fas.fa-arrow-right                  
                .footer__info
                    .footer__info--container
                        .total-info
                            .company-info
                                .info-title
                                ul.info-address
                                    li 07-1234-5678
                                    li sweetaste@email.com
                                    li 800 高雄市新興區幸福路 520 號
                            .info-img
                        .social-info
                            .social-icon
                                .icon-fb
                                .icon-line
                            .social-remark © 2018 Sweetaste* All Rights Reserved

        script(src="https://cdn.jsdelivr.net/npm/vue")
        //- script(src="https://unpkg.com/element-ui/lib/index.js")
        script(src="/dist/app.bundle.js")
            


