extends layout.pug
block content    
            .section
                .section-container.flex-justify-between
                    .section-container__background
                    ul.section-container__group.flex-justify-center
                        li.section__group--yellow
                            .section__group-img
                            .section__group-bg
                            .section__group-word 本日精選
                        li.section__group-top
                            .section__group-img
                            .section__group-bg
                            .section__group-word 人氣推薦
                        li.section__group-new
                            .section__group-img
                            .section__group-bg
                            .section__group-word 新品上市
            section.mb-stroy.flex-justify-center.display-none.d-mb-block.mg-b-30
                img(src="/dist/img/sm-horizontal-why-chioce.svg", alt="")
            section.story.flex-justify-center
                .story-container.flex-column
                    .story-container__title.d-md-none
                    .story-container__content
                        p 青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                        p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                    .story-container__img
            section.story.flex-justify-center
                .story-container.flex-column
                    .story-container__title.opposite-title.d-md-none
                    .story-container__content.opposite-content
                        p 青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                        p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                    .story-container__img.opposite-img
            section.flex-justify-center
                .svg__center.d-md-none
            section.card.flex-justify-center
                ul.card-container
                    li.card-container__product
                        .card__product-img
                            .card__product-featured 本日精選
                            i.far.fa-heart
                        .card__product-info
                            .card__info-name 焦糖馬卡龍
                            .card__info-price NT$ 450
                        button 加入購物車
                    li.card-container__product.mg-20
                        .card__product-img
                            .card__product-featured 本日精選
                            i.far.fa-heart
                        .card__product-info
                            .card__info-name 焦糖馬卡龍
                            .card__info-price NT$ 450
                        button 加入購物車
                    li.card-container__product
                        .card__product-img
                            .card__product-featured 本日精選
                            i.far.fa-heart
                        .card__product-info
                            .card__info-name 焦糖馬卡龍
                            .card__info-price NT$ 450
                        button 加入購物車
        
