<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
        link(rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css")
        link(rel="stylesheet",type="text/css" href="/dist/style.css")
        title Sweetaste
    body
        #app
            header
                .header__container
                    .header__container--logo
                    ul.header__container--navbar
                        li  
                            a(href="") 首頁
                        li
                            a(href="") 甜點
                        li
                            a(href="") 登入
                        li      
                            a(href="")
                                i.fas.fa-shopping-cart  
            section
                .section__container
                    .section__container--background
                    ul.section__container--group
                        li.group_today
                            .group_today-img
                            .group_today-bg
                            .group_today-word 本日精選
                        li.group_top
                            .group_top-img
                            .group_top-bg
                            .group_top-word 人氣推薦
                        li.group_new
                            .group_new-img
                            .group_new-bg
                            .group_new-word 新品上市
            section
                .section__story

            footer
        script(src="https://cdn.jsdelivr.net/npm/vue")
        script(src="https://unpkg.com/element-ui/lib/index.js")
        script(src="/dist/app.bundle.js")
            


