extends layout.pug
block content  
            .login
                .login-container.mg-0-auto
                    .login-container__memberlogin
                        .login-container__memberlogin-group
                            .login-container__memberlogin-group-title 會員登入
                            .login-container__memberlogin-group-input
                                .login-container__memberlogin-group-input-account
                                    i.relative-icon.fas.fa-user 
                                    input(type="text",placeholder="電子信箱/手機號碼")
                                .login-container__memberlogin-group-input-password
                                    i.relative-icon.fas.fa-key
                                    input(type="password", name="", placeHolder="請輸入使用者密碼")
                            .login-container__memberlogin-group-box
                                input#box-save(type="checkbox", name="")
                                label(for="box-save") 記住我
                        button.btn-next  登入帳號
                    .login-container__social
                        .login-container__social-title —— 連結社群帳號 ——
                        ul.login-container__social-group
                            li
                                button
                                    img(src="/dist/img/ic-facebook-logotype.svg", alt="", width="100", hright="20") 
                            li
                                button
                                    img(src="/dist/img/ic-google.svg", alt="",width="100", hright="20") 
                            li
                                button
                                    img(src="/dist/img/ic-yahoo.svg", alt="",width="100", hright="20") 
