extends layout.pug
block content 
            section.mg-0-auto.section
                .section-container.flex-justify-between
                    .section-container-product__background
                        .want-eat-img.d-md-none
            .product.mg-t-60
                .product__container.mg-0-auto.flex-justify-between
                    .product__container--filter
                        .filter-title 甜點類別
                        ul.filter-item
                            li.now-select 所有甜點 (48)
                            li 本日精選 (10)
                            li 人氣推薦 (26)
                            li 新品上市 (12)
                    .product__container--list.mb-mg-0-auto
                        ul.card-container.flex-justify-between
                            li.card-container__product.mg-b-20
                                .card__product-img
                                    .card__product-featured 本日精選
                                    i.far.fa-heart
                                .card__product-info
                                    .card__info-name 焦糖馬卡龍
                                    .card__info-price NT$ 450
                                button 加入購物車
                            li.card-container__product.mg-b-20
                                .card__product-img
                                    .card__product-featured 本日精選
                                    i.far.fa-heart
                                .card__product-info
                                    .card__info-name 焦糖馬卡龍
                                    .card__info-price NT$ 450
                                button 加入購物車
                            li.card-container__product.mg-b-20
                                .card__product-img
                                    .card__product-featured 本日精選
                                    i.far.fa-heart
                                .card__product-info
                                    .card__info-name 焦糖馬卡龍
                                    .card__info-price NT$ 450
                                button 加入購物車
                        ul.pagination.j-center
                            li
                                a(href="")
                                    i.fas.fa-arrow-left
                            li.select_page
                                a(href="") 1
                            li
                                a(href="") 2
                            li
                                a(href="") 3
                            li
                                a(href="")
                                    i.fas.fa-arrow-right       