extends layout.pug
block content 
            section.section
                .section-container.flex-justify-between.mg-0-auto
                    .section-container-product__background
                        .want-eat-img.d-md-none
            .product.mg-t-60
                .product__container.mg-0-auto.flex-justify-between
                    .product__container--filter.mb-w-100
                        .filter-title 甜點類別
                        ul.filter-item
                            li 所有甜點 ({{menu.length}})
                            li.now-select 本日精選 565
                            li 人氣推薦 (0)
                            li 新品上市 (0)
                    .product__container--list.mb-mg-0-auto
                        ul.card-container.flex-justify-between
                            li.card-container__product.mg-b-20
                                .card__product-img
                                    img.block
                                    .card__product-featured 本日精選
                                    i.far.fa-heart
                                .card__product-info
                                    .card__info-name
                                    .card__info-price NT$ 450
                                button 加入購物車
                        ul.pagination.j-center
                            li
                                a(href="")
                                    i.fas.fa-arrow-left
                            li.select_page
                                a(href="") 1
                            li
                                a(href="") 2
                            li
                                a(href="") 3
                            li
                                a(href="")
                                    i.fas.fa-arrow-right
                    //- button.btn(@click="getRandom") test